*.pyc
data
data/
checkpoints
checkpoints/
Azure-Kinect-Sensor-SDK/
clipseg/
librealsense/
owlvit_segment_anything/
sam/
scenic/
segment-anything/
stretch_remote/
wandb/
results/
videos/
figures/
results/
results
ft_calibration.npy
makefile
